.explore {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.explore .mini_gurantees {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.explore .mini_gurantees .mini_item {
    display: flex;
    flex-direction: row;
    min-width: 200px;
    max-width: 250px;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.explore .mini_gurantees .mini_item:nth-child(1) {
    color: blue;
}

.explore .mini_gurantees .mini_item:nth-child(2) {
    color: red;
}

.explore .mini_gurantees .mini_item:nth-child(3) {
    color: #fdbb2d;
}

.explore .mini_gurantees .mini_item:nth-child(4) {
    color: #12c2e9;
}

.explore .mini_gurantees .mini_item:nth-child(5) {
    color: blue;
}



/* explore category page css styles */
.categories_explore {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.categories_explore .category_heading::after {
    content: "";
    display: block;
    width: 100%;
    background-color: tomato;
    height: 2px;
    bottom: 0px;
    left: 0px;
    margin-top: 2px;

}

.categories_explore .category_title_box {

    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    justify-content: center;
}

.categories_explore .category_title_box .category_sub_quote {
    width: 100%;
    text-align: center;
    opacity: 0.8;
    line-height: 20px;
    word-spacing: 1px;
}



.categories_explore .categotyitem_box {
display: flex;
flex-direction: row;
width: 100%;
flex-wrap: wrap;
align-items: center;

}
.categories_explore .categotyitem_box .categoty_item {
    display: flex;
    flex-direction: row;
    width: 200px;
    align-items: center;
    justify-content: center;
    height: 100px;
    border: 1px solid #fdbb2d;
    margin: 20px;
    cursor: pointer;

}

.categories_explore .categotyitem_box .categoty_item:hover {
    background-color: tomato;
    color: white;
}

.categories_explore.categotyitem_box .categoty_item img {
    width: 30px;
    height: 30px;
    background-color: pink;
    border-radius: 5px;
    border: 2px solid pink;
    margin-right: 10px;
}

.categories_explore .categotyitem_box .categoty_item .categoryitem_course_details {
    display: flex;
    flex-direction: column;
    row-gap: 1px;
}

.categories_explore .categotyitem_box .categoty_item {
    width: 230px;
    margin: 0 auto;
}

.categories_explore .category_title_box .category_sub_quote {
    width: 70%;
}



/* for mobs
@media(width<=600px){


}
/* for small screens */
@media(min-width:600px){
/* no need to write css for tabs also ,it is fitted perfectly */

} 
/* medium devices */
@media(width>=1200px){
    .explore .categories_explore .categotyitem_box{
        width: 60%;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }


}
